        {%- if secret.comment %}
        /* {{ secret.comment }} */
        {%- endif %}
        {% if secret.commented_out %}/* {% endif %}{{ secret.name }} = credentials('{{ secret.name }}'){% if secret.commented_out %} */{% endif -%}
