stage('{{ step.name }}') {
            steps {
                script {
                    {%- for substep in step.substeps %}
                    rhtap.info('{{ substep | replace("-", "_") }}')
                    rhtap.{{ substep | replace("-", "_") }}()
                    {%- endfor %}
                }
            }
        }
