{%- include "do-not-edit.njk" -%}

pipeline {
    agent any
    environment {
        /* Not used but init.sh will fail if they're missing */
        COSIGN_SECRET_PASSWORD = 'dummy'
        COSIGN_SECRET_KEY = 'dummy'
        {%- for secret in gitops_secrets -%}
        {%- include "jenkins-secret.njk" -%}
        {%- endfor %}
    }
    stages {
        {%- for step in gitops_steps %}
        {% include "jenkins-step-local.njk" %}
        {%- endfor %}
    }
}
