{%- include "do-not-edit.njk" -%}

image: quay.io/redhat-appstudio/dance-bootstrap-app:rhtap-runner

variables:
  CI_TYPE: gitlab

stages:
{%- for step in build_steps %}
  - {{ step.name }}
{%- endfor -%}

{%- for step in build_steps -%}
{%- for substep in step.substeps %}

{{ substep }}:
  stage: {{ step.name }}
  {#- By default they run in parallel but this one can't -#}
  {#- Todo: This should probably be represented in data.yaml -#}
  {%- if substep == "cosign-sign-attest" %}
  needs: [buildah-rhtap]
  {%- endif %}
  script:
    - echo "{{ substep }}"
    - bash /work/rhtap/{{ substep }}.sh
  artifacts:
    paths:
      - results/
  {#- The update-deployment should run only after changes are merged -#}
  {% if substep == "update-deployment" %}
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
  {%- endif %}
{%- endfor -%}
{%- endfor %}
