{%- include "do-not-edit.njk" -%}

{%- include "jenkins-library-source.njk" -%}

pipeline {
    agent any
    environment {
        {%- for secret in build_secrets -%}
        {%- include "jenkins-secret.njk" -%}
        {%- endfor %}
    }
    stages {
        {%- for step in build_steps %}
        {% include "jenkins-step.njk" %}
        {%- endfor %}
    }
}
